.btn {
  display: block;
  margin: auto;
}

.wrap {
  display: flex;
  margin: 5% auto;
}

.item {
  display: block;
  width: 70%;
  margin: auto;
  padding: 2% 0;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.item:hover {
  transform: scale(1.1);
}

.btn:hover {
  background-color: #800080;
}

.wrapInput {
  text-align: center;
  margin-top: 30px;
}

.input {
  width: 205px;
  height: 20px;
}
